<div class="col-md-4 col-md-offset-4">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <hr>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.input :username, input_html: { class: "form-control"} %>
      <%= f.input :email, input_html: { class: "form-control"} %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <%= f.input :current_password, input_html: { class: "form-control"} %>
    </div>
    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primaty", :disable_with => 'Submiting...' %>
    </div>
  <% end %>
</div>
<%= link_to "Back", :back %>
