<div>
  <div>
    <p><%= link_to("add a new #{current_user.roles[0].name}", new_user_path) %></p>
    <% if current_user.has_role? :superadmin %>
      <h2> Superadmins </h2>
      <table>
        <thead>
          <tr>
            <td>#</td>
            <td>Superadmin name</td>
            <td>Superadmin email</td>
          </tr>
        </thead>
        <tbody>
          <% @superadmins.each do |superadmin| %>
            <tr>
              <td>#</td>
              <td><%= link_to superadmin.username, user_path(superadmin) %></td>
              <td><%= superadmin.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <h2>Admins</h2>
  <table>
    <thead>
      <tr>
        <td>#</td>
        <td>Admin name</td>
        <td>Admin email</td>
      </tr>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td>#</td>
          <td><%= link_to admin.username, user_path(admin) %></td>
          <td><%= admin.email %></td>
          <td>
            <% if can? :manage, User %>
              <%= link_to("Edit", edit_user_path(admin))%>
            <% end %>
            <% if (can? :crud, User) && current_user.id != admin.id %>
              <%= link_to("Delete", user_path(admin),
															method: :delete, data: { confirm: "Are you sure?" } )%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <td>#</td>
        <td>User name</td>
        <td>User email</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>#</td>
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= user.email %></td>
          <td>
            <% if can? :manage, User %>
              <%= link_to("Edit", edit_user_path(user))%>
              <%= link_to("Delete", user_path(user),
													method: :delete, data: { confirm: "Are you sure?" } )%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
