<div>
  <p>User Name: <%= @user.username %></p>
  <p>User Email: <%= @user.email %></p>
  <%= link_to("Edit", edit_user_path(@user))%>
  <%= link_to("Delete", user_path(@user),
									method: :delete, data: { confirm: "Are you sure?" } )%>
</div>
<% if @reservations.any? %>
  <div class="">
    <h2>Reservation History</h2>
    <table>
      <thead>
        <tr>
          <td>Car Plate</td>
          <td>Car Make</td>
          <td>Car Model</td>
          <td>Pick up time</td>
          <td>Return time</td>
        </tr>
      </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <% car = Car.find(reservation.car_id) %>
          <tr>
            <td><%= car.plate %></td>
            <td><%= car.make %></td>
            <td><%= car.model %></td>
            <td><%= reservation.pick_up_time %></td>
            <td><%= reservation.return_time %></td>
            <td><%= link_to "Show Reservation Detail", reservation_path(reservation)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
