<%= simple_form_for @reservation do |f| %>
  <% if @reservation.errors.any? %>
    <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.input :pick_up_time, input_html: { class: "form-control"} %>
    <%= f.input :return_time, input_html: { class: "form-control"} %>
    <%= f.hidden_field :car_id, value: @car.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <%= f.submit "Save", data: { confirm: 'Reservation Summary
    Car Plate: ' + @car.plate + '
    Car Make: ' + @car.make + '
    Car Model: ' + @car.model + '
    Car Style: ' + @car.style + '
    Location: ' + @car.location + '
    ' } %>
<% end %>
