<%= form_for @reservation do |f| %>
  <% if @reservation.errors.any? %>
      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  <% end %>

  <br>
    <%= f.label :pick_up_time %><br>
    <%= f.datetime_select :pick_up_time, default: 7.days.from_now %>
  <br>
  <br>
    <%= f.label :return_time %><br>
    <%= f.datetime_select :return_time, default: 7.days.from_now %>
  <br>
    <%= f.hidden_field :car_id, value: @car.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <br>
    <% confirm_msg = 'Reservation Summary
    Car Plate: ' + @car.plate + '
    Car Make: ' + @car.make + '
    Car Model: ' + @car.model + '
    Car Style: ' + @car.style + '
    Location: ' + @car.location + '
    '
    %>
    <%= f.submit "Save", data: { confirm: confirm_msg} %>
  <br>

<% end %>
