<div>
  <% if can? :manage, Reservation %>
    <h2>All Reservations</h2>
    <table>
      <thead>
        <tr>
          <td>Username</td>
          <td>Car Plate</td>
          <td>Car Model</td>
          <td>Car Make</td>
          <td>Pick up time</td>
          <td>Return time</td>
        </tr>
      </thead>
      <tbody>
        <% @all_reservations.each do |reservation| %>
          <% user = User.find(reservation.user_id) %>
          <% car = Car.find(reservation.car_id) %>
          <tr>
            <td><%= user.username %></td>
            <td><%= car.plate %></td>
            <td><%= car.make %></td>
            <td><%= car.model %></td>
            <td><%= reservation.pick_up_time %></td>
            <td><%= reservation.return_time %></td>
            <td><%= link_to "Show Car's Detail", car_path(car) %></td>
            <td><%= link_to "Show Reservation's Detail", reservation_path(reservation) %></td>
            <td>
              <% if can? :manage, Reservation %>
                <%= link_to("Edit", {:controller => "reservations", :action => "edit", :id => reservation.id, :car_id => car.id, :user_id => user.id })%>
                <%= link_to("Delete", reservation_path(reservation),
                            method: :delete, data: { confirm: "Are you sure?" } )%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<% if @user_reservations.any? %>
  <h2>Your Reservations</h2>
  <div class="">
    <table>
      <thead>
        <tr>
          <td>Username</td>
          <td>Car Plate</td>
          <td>Car Model</td>
          <td>Car Make</td>
          <td>Pick up time</td>
          <td>Return time</td>
        </tr>
      </thead>
      <tbody>
        <% @user_reservations.each do |reservation| %>
          <% user = User.find(reservation.user_id) %>
          <% car = Car.find(reservation.car_id) %>
          <tr>
            <td><%= user.username %></td>
            <td><%= car.plate %></td>
            <td><%= car.make %></td>
            <td><%= car.model %></td>
            <td><%= reservation.pick_up_time %></td>
            <td><%= reservation.return_time %></td>
            <td><%= link_to "Show Car's Detail", car_path(car) %></td>
            <td><%= link_to "Show Reservation's Detail", reservation_path(reservation) %></td>
            <td>
              <% if can? :manage, Reservation %>
                <%= link_to("Edit", edit_reservation_path(reservation))%>
                <%= link_to("Delete", reservation_path(reservation),
  	                          method: :delete, data: { confirm: "Are you sure?" } )%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
