<div class="col-md-12">
  <% if @reservation.errors.any? %>
    <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="reservation">
    <%= link_to "Reserve", {:controller => "reservations", :action => "new", :car_id => @car.id }, class: "btn btn-sm btn-default" %>
  </div>
  <h2>Reservation Details</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Username</td>
        <td>Car Plate</td>
        <td>Car Model</td>
        <td>Car Make</td>
        <td>Pick up time</td>
        <td>Return time</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.username %></td>
        <td><%= @car.plate %></td>
        <td><%= @car.make %></td>
        <td><%= @car.model %></td>
        <td><%= @reservation.pick_up_time %></td>
        <td><%= @reservation.return_time %></td>
        <td><%= link_to "Car's Detail", car_path(@car), class: "btn btn-sm btn-default" %></td>
        <td>
          <% if can? :manage, Reservation %>
            <%= link_to("Edit", edit_reservation_path)%>
            <%= link_to("Delete", reservation_path,
														method: :delete, data: { confirm: "Are you sure?" } )%>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <% if can? :manage, Reservation %>
    <% if (@car.reservation_time.to_i > Time.now.to_i) && !@car.checkout %>
      <%= link_to "Check Out a Car", {:controller => "reservations", :action => "check_out", id: @reservation.id }, class: "btn btn-sm btn-default" %>
    <% elsif @car.checkout %>
      <%= link_to "Return Car", {:controller => "reservations", :action => "return_car", id: @reservation.id }, class: "btn btn-sm btn-default" %>
    <% end %>
  <% end %>
</div>
