  <%= simple_form_for @car do |f| %>
  <% if @car.errors.any? %>
    <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.input :plate, input_html: { class: "form-control"} %>
    <%= f.input :make, input_html: { class: "form-control"} %>
    <%= f.input :model, input_html: { class: "form-control"} %>
    <%= f.input :rate, input_html: { class: "form-control"} %>
    <%= f.input :style, input_html: { class: "form-control"} %>
    <%= f.input :location, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primaty", :disable_with => 'Submiting...' %>
<% end %>
