<div class="col-md-12">
  <div class="car">
    <% if can? :manage, Car %>
      <%= link_to("New car", new_car_path) %>
    <% end %>
  </div>
  <table class="table table-hover">
    <thead>
	  <h2>Cars List</h2>
      <%= form_tag(cars_path, method: :get) do %>
        <p>
          <%= select_tag :category, options_for_select([:Make, :Model, :Style, :Location, :Status], params[:category]) %>
          <%= text_field_tag :term, params[:term] %>
          <%= submit_tag "Search", class: "btn btn-sm btn-default" %>
        </p>
      <% end %>


      <tr>
        <td>Plate</td>
        <td>Make</td>
        <td>Model</td>
        <td>Rate</td>
        <td>Style</td>
        <td>Location</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><%= link_to(car.plate, car_path(car)) %></td>
          <td><%= car.make %></td>
          <td><%= car.model %></td>
          <td><%= car.rate %></td>
          <td><%= car.style %></td>
          <td><%= car.location %></td>
          <td><%= check_status(car)%></td>
          <td>
            <% if can? :manage, Car %>
              <%= link_to("Edit", edit_car_path(car), class: "btn btn-sm btn-default")%>
              <%= link_to("Delete", car_path(car), class: "btn btn-sm btn-default",
                              method: :delete, data: { confirm: "Are you sure?" } )%>
            <% else %>
              <% if check_status(car) == "Available" %>
                <%= link_to("Reserve", {:controller => "reservations", :action => "new", :car_id => car.id }, class: "btn btn-sm btn-default")%>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @cars %>
</div>
