<div>
  <div>
    <%= link_to("Edit Details", edit_car_path(@car)) %>
  </div>
  <h2><%= @car.plate %></h2>
  <p><%= @car.make %></p>
	<p><%= @car.model %></p>
	<p><%= @car.rate %></p>
	<p><%= @car.style %></p>
	<p><%= @car.location %></p>
	<p><%= @car.checkout %></p>
</div>
