<div class="col-md-12">
  <div class="group">
    <%= link_to("Edit Details", edit_car_path(@car)) %>
  </div>
  <h2>Plate:
    <%= @car.plate %></h2>
  <p>Make:
    <%= @car.make %></p>
  <p>Model:
    <%= @car.model %></p>
  <p>Rate per Hour:<%= @car.rate %></p>
  <p>Style:
    <%= @car.style %></p>
  <p>Location:
    <%= @car.location %></p>
  <p>Status:
    <%= check_status(@car) %>
  </p>
  <% if @reservations.any? %>
    <div class="">
      <h2>Reservation History</h2>
      <table>
        <thead>
          <tr>
            <td>Username</td>
            <td>Pick up time</td>
            <td>Return time</td>
          </tr>
        </thead>
        <tbody>
          <% @reservations.each do |reservation| %>
            <% user = User.find(reservation.user_id) %>
            <tr>
              <td><%= user.username %></td>
              <td><%= reservation.pick_up_time %></td>
              <td><%= reservation.return_time %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
